* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.mark-container {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
}

.marks {
    /* width: 60%; */
}

.marks span {
    border: 1px solid #c0c0c0;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    line-height: -2px;
    cursor: pointer;
}